[submodule "ToolDefinitions"]
	path = ToolDefinitions
	url = git@github.com:aCLImatise/ToolDefinitions.git
[submodule "ToolWrappers"]
	path = ToolWrappers
	url = git@github.com:aCLImatise/ToolWrappers.git
